<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>Demo1Servlet</display-name>
    <servlet-name>Demo1Servlet</servlet-name>
    <servlet-class>b_filter.d_hello.Demo1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1Servlet</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>HelloFilter</filter-name>
    <filter-class>b_filter.d_hello.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HelloFilter</filter-name>
    <url-pattern>/demo1</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LifeFilter</filter-name>
    <filter-class>b_filter.e_life.LifeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LifeFilter</filter-name>
    <url-pattern>/demo2</url-pattern>
  </filter-mapping>
   
   <filter>
  	<filter-name>BFilter</filter-name>
  	<filter-class>b_filter.f_chain.BFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>BFilter</filter-name>
  	<url-pattern>/a/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>AFilter</filter-name>
  	<filter-class>b_filter.f_chain.AFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AFilter</filter-name>
  	<url-pattern>/a/b/*</url-pattern>
  </filter-mapping>
 
  <servlet>
    <description></description>
    <display-name>Demo2Servlet</display-name>
    <servlet-name>Demo2Servlet</servlet-name>
    <servlet-class>b_filter.e_life.Demo2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo2Servlet</servlet-name>
    <url-pattern>/demo2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo3Servlet</display-name>
    <servlet-name>Demo3Servlet</servlet-name>
    <servlet-class>b_filter.f_chain.Demo3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo3Servlet</servlet-name>
    <url-pattern>/a/b/demo3</url-pattern>
  </servlet-mapping>
</web-app>